<div class="d-flex justify-content-between align-items-end">
    <h5 class="card-title pb-2">Резюме</h5>
    <p class="salary">{{ resume.salary|number_format(thousandSep = ' ') }} руб.</p>
</div>

<div class="d-flex justify-content-between align-items-center">
    <div>
        <p class="p-0 m-0">{{ resume.seeker.fullName }} / {{ resume.specialization }}</p>
        {% if show_contacts_to_recruiter is defined %}
            <p class="mb-0 mt-3">Почта для связи: <a href="mailto:{{ resume.seeker.email }}">{{ resume.seeker.email }}</a></p>
        {% endif %}
    </div>

    <a href="{{ path('view_resume', { id: resume.id }) }}" class="btn btn-primary">Открыть</a>
</div>