<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-end">
            <h5 class="card-title pb-2">{{ vacancy.specialization }}</h5>
            {# TODO: заменить на метод репо 2 #}
            {#            {% if app.user in  vacancy.whoReplied %} #}
            {#                <p class="fw-bold">Вы откликнулись ✓</p> #}
            {#            {% endif %} #}
        </div>

        {% if vacancy.owner.company %}
            <p class="p-0 m-0">{{ vacancy.owner.company.name }}</p>
        {% else %}
            <p class="p-0 m-0">{{ vacancy.owner.fullName }}</p>
        {% endif %}

        <hr class="my-3"/>
        <p class="card-text">{{ vacancy.description|striptags|slice(0, 100) }}...</p>

        <div class="d-flex flex-wrap">
            {% for skill in vacancy.skills %}
                <p class="skill p-1 px-3 me-3"> {{ skill }}</p>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <p class="m-0 salary">{{ vacancy.salary|number_format(thousandSep = ' ') }} руб.</p>
            <a href="{{ path('view_vacancy', { id: vacancy.id }) }}" class="btn btn-primary">Открыть</a>
        </div>
    </div>
</div>