<div class="d-flex justify-content-between align-items-end">
    <h5 class="card-title pb-2">Вакансия</h5>
    <p class="salary">{{ vacancy.salary|number_format(thousandSep = ' ') }} руб.</p>
</div>

<div class="d-flex justify-content-between align-items-center">
    <div>
        {% if vacancy.recruiter.company is null %}
            <p class="p-0 m-0">{{ vacancy.recruiter.fullName }} / {{ vacancy.specialization }}</p>
        {% else %}
            <p class="p-0 m-0">{{ vacancy.recruiter.company }} / {{ vacancy.specialization }}</p>
        {% endif %}

        {% if show_contacts_to_seeker is defined %}
            <p class="mb-0 mt-3">Почта для связи: <a href="mailto:{{ vacancy.recruiter.email }}">{{ vacancy.recruiter.email }}</a></p>
        {% endif %}
    </div>

    <a href="{{ path('view_vacancy', { id: vacancy.id }) }}" class="btn btn-primary">Открыть</a>
</div>